/*
Theme Name: Turquoise
Author: Jud Turquoise
Description: Jud Turquoise's Wordpress theme
Version: 0.0.1
Tags: bootstrap
*/

:root {
    --jud-grey: rgba(255, 255, 255, 0.58);
    --jud-text-emphasis: rgba(0, 0, 0, 0.87);
    --jud-text-medium: rgba(0, 0, 0, 0.60);
    --jud-text-disabled: rgba(0, 0, 0, 0.38);
    --jud-text-accent: rgba(155, 212, 204, 0.87);
    --jud-border-light: rgba(0, 0, 0, 0.12);
    --jud-border-dark: rgba(255, 255, 255, 0.20);
}

html, body {
    height: 100vh;
}

/*  General rules
--------------------------------------------------------------------------- */

.noscrolling {
    overflow: hidden;
}

.no-bg {
    background-image: unset !important;
}

.bg-translucent {
    background-color: rgba(0, 0, 0, 0.12)
}

/* Custom Logo */
#wide-container {
    display: flex;
    height: 66%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* Navigation Bar
--------------------------------------------------------------------------- */

#navigation-menu ul.navbar-nav {

}

body.no-bg #navigation-menu {
    background-color: rgba(0, 0, 0, 0) !important;
}

#navigation-menu {
    border-bottom: 1px solid;
    border-color: var(--jud-border-light);
    padding: 16px 16px 16px 16px;
}

#navigation-menu svg {
    color: var(--jud-grey);
}

body.no-bg #navigation-menu svg {
    color: var(--jud-text-disabled);
}

#navigation-menu .navbar-toggler {
    border: unset;
    padding: 0;
    margin-top: 16px;
}

#navigation-menu .navbar-toggler.collapsed {
    margin: 0;
}

#navigation-menu .navbar-toggler[aria-expanded=false] #i-close,
#navigation-menu .navbar-toggler[aria-expanded=true] #i-menu {
    display: none;
}

#navigation-menu ul.navbar-nav > li {
    width: auto;
    padding: 8px 64px 8px 0;
}

#navigation-menu ul.navbar-nav > li > a,
#navigation-menu ul.navbar-nav > li > a:visited {
    font-family: 'Lato', arial, sans-serif;
    letter-spacing: 4px;
    color: var(--jud-text-disabled);
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
}

#navigation-menu ul.navbar-nav > li.current-menu-item > a,
#navigation-menu ul.navbar-nav > li > a:hover,
#navigation-menu ul.navbar-nav > li > a:focus {
    color: var(--jud-text-accent);
}

#navigation-menu.bg-translucent ul.navbar-nav > li > a,
#navigation-menu.bg-translucent ul.navbar-nav > li > a:visited {
    color: var(--jud-grey);
}

#navigation-menu.bg-translucent ul.navbar-nav > li > a:hover {
    color: var(--jud-text-accent);
}

body.no-bg #navigation-menu ul.navbar-nav > li > a,
body.no-bg #navigation-menu ul.navbar-nav > li > a:visited {
    color: var(--jud-text-disabled);
}
body.no-bg #navigation-menu ul.navbar-nav > li.current-menu-item > a,
body.no-bg #navigation-menu ul.navbar-nav > li > a:hover {
    color: var(--jud-text-accent);
}

/*  Blog post
--------------------------------------------------------------------------- */

div.blog-post {
    font-family: 'Raleway', arial, sans-serif;
    padding: 64px 0 64px 0;
}

div.blog-post h1,
div.blog-post h2 {
    color: var(--jud-text-accent);
    font-size: 2em;
    letter-spacing: 0;
    word-spacing: -3px;
}

div.blog-post h3,
div.blog-post h4,
div.blog-post h5,
div.blog-post h6 {
    color: var(--jud-text-medium);
    font-size: 1.20em;
    letter-spacing: 0;
    word-spacing: -2px;
}

div.blog-post p {
    color: var(--jud-text-medium);
    font-size: 1.10em;
    font-weight: 100;
}

div.blog-post p.blog-post-meta {
    color: var(--jud-text-disabled);
}

div.blog-post img {
    border-radius: 2px;
}

div.blog-post .wp-block-column {
    padding: 0 1.5rem 0 1.5rem;
}

div.entry-attachment {
    font-family: 'Raleway', arial, sans-serif;
    padding: 0 0 64px 0;
}

div.navigation-attachment {
    padding: 16px 0;
}

div.navigation-attachment .icon {
    color: var(--jud-text-disabled);
}

/*  Footer
--------------------------------------------------------------------------- */

footer {
    padding: 16px 0 16px 0;
    margin: 0;
    width: 100%;
    color: var(--jud-text-disabled);
    letter-spacing: 2px;
    font-size: 12px;
    text-align: center;
}
