/**
 * The following styles get applied both on the front of your site and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-turquoise-thumbnails {

}

.card.thumb-container {
    overflow: hidden;
    margin: 24px 0 24px 0;
    outline: 1px solid #ddd;
    -moz-outline-radius: 4px; /*Only works on Firefox*/
    border: 4px solid #fff;
}

.card-img-overlay.thumb-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #000;
    transition: all 0.6s ease-in-out;
}

.card-img-overlay.thumb-overlay:hover {
    opacity: 0.5;
}

.card.thumb-container:hover img.card-img {
    transform: scale(1.1);
}

.card-title.thumb-description {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    opacity: 1;
    font-size: x-large;
    text-transform: uppercase;
    font-family: 'Lato', arial, sans-serif;
    letter-spacing: 6px;
    font-weight: lighter;
}

.card.thumb-container img.card-img {
    max-width: 100%;
    max-height: 100%;
    transition: all 0.6s ease-in-out;
}


